<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="ja" lang="ja">
<head>
  {{ Html.meta({'http-equiv': "X-UA-Compatible", 'content': "IE=edge"})|raw }}
  {{ Html.meta({'http-equiv': "content-type", 'content': "text/html; charset=UTF-8"})|raw }}
  {{ Html.charset()|raw }}
  {{ Html.meta({'name': "viewport", 'content': "width=device-width, initial-scale=1.0"})|raw }}
  <title>
{% if title_for_layout|length == 0 %}
    {{ _view.fetch('title')|raw }}
{% else %}
    {{ title_for_layout }}
{% endif %}
  </title>
  {{ Html.meta({'name': "description", 'content': "プーケットマーケットはオスカープロモーションで活躍中のお笑いトリオです。お笑いの養成所同期だが年齢場はバラバラのひだか、ほんだ、いのうちが所属し、それぞれTV、映画、CM、音楽、雑誌、インターネット、ファッションショー、イベントなど様々なエンターテイメント分野で活動することを目標に頑張っています。"})|raw }}
  {{ Html.meta({'property': "og:title", 'content': _view.fetch('title') })|raw }}
  {{ Html.meta({'property': "og:type", 'content': "website" })|raw }}
  {{ Html.meta({'property': "og:site_name", 'content': "プーケットマーケット" })|raw }}
  {{ Html.meta({'property': "og:description", 'content': "プーケットマーケットはオスカープロモーションで活躍中のお笑いトリオです。お笑いの養成所同期だが年齢場はバラバラのひだか、ほんだ、いのうちが所属し、それぞれTV、映画、CM、音楽、雑誌、インターネット、ファッションショー、イベントなど様々なエンターテイメント分野で活動することを目標に頑張っています。" })|raw }}
  {{ Html.meta({'property': "og:url", 'content': "http://www.puhket-market.com/" })|raw }}
  {{ Html.meta({'property': "og:image", 'content': ogImageUrl })|raw }}

  {% if controllerName == "Top" %}
    {{ Html.script("libs.min.js?_=140612", {'charset': "UTF-8"})|raw }}
    {{ Html.css("app.css?_=140612", {'media': "all"})|raw }}
    {{ Html.css("print.css?_=140612", {'media': "print"})|raw }}
    {{ Html.css("http://fonts.googleapis.com/css?family=Marmelad")|raw }}
  {% else %}
    {{ Html.css('cake.generic')|raw }}
    {{ Html.css('bootstrap')|raw }}
    {{ Html.css('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')|raw }}
    {{ Html.css('main')|raw }}
    {{ Html.css('app-slider.css')|raw }}
    {{ Html.script('vendor/jquery-1.11.2.min')|raw }}
    {{ Html.script('vendor/modernizr-2.8.3-respond-1.4.2.min')|raw }}
    {{ Html.script('vendor/bootstrap.min')|raw }}
  {% endif %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76970893-1', 'auto');
    ga('require', 'GTM-PCGM3F3');
    ga('send', 'pageview');
  </script>

  {{ Html.meta('icon')|raw }}
  {{ _view.fetch('meta')|raw }}
  {{ _view.fetch('css')|raw }}
  {{ _view.fetch('script')|raw }}
</head>
<body>

  <div class="jumbotron special"></div>

  <div class="container clearfix">
    {{ Flash.render()|raw }}

    {{ _view.fetch('content')|raw }}

{% if controllerName == "Top" %}
{% else %}
    {% include '../Modules/header.twig' %}
    {% include '../Modules/swiper-setting.twig' %}
    {% include '../Modules/footer.twig' %}
{% endif %}
  </div>

  <script>
  $(function() {
    setTimeout(function() {
      $('#flashMessage').fadeOut("slow");
    }, 2000);
  });
  </script>

</body>
</html>
